/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	/*background: url(https://i.pinimg.com/originals/1a/62/54/1a62547140c18149ea6d8a9927b5c6ad.jpg)no-repeat center top;*/
	background: rgb(255, 255, 255);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	    min-height: 747px;
	background-attachment:fixed;
	

}


.fondo{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	


    background-size: 50px 600px;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	    min-height: 747px;
	background-attachment:fixed;
}

.boton_personalizado{
	background: #eb94d0;
	background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;

 
  margin: -10px -50px; 
  position: relative;
  top:80%; 
  left:40%;

  }
  .boton_personalizado:hover{
	background: #2079b0;  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);  text-decoration: none;
  }

.bg-agile {
    width: 65%;
    margin: 0 auto;
}

h1 {
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 11px;
    letter-spacing: 6px;
    margin: 1.1em 0;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}
/*--appointment--*/
.book-appointment h2 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'Droid Sans', sans-serif;
}
.book-appointment {
    background:rgba(3, 78, 190, 0.925);
    padding: 50px 30px;
}
.book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="Direccion"], .book-appointment input[type="Sintomas"],textarea {
    width: 85%;
    color: #fff;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #0b6fb2;
    -webkit-appearance: none;
    margin: .3em 0em 1em;
    font-family: 'Roboto', sans-serif;
    background: rgba(127, 178, 212, 0.31);
}
textarea {
	resize:none;
	height:75px
}
.book-appointment select.form-control {
    outline: none;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 89.5%;
	margin: 5px 0px 16px;
    border-radius: 0;
   background: rgba(127, 178, 212, 0.31);
    color: #fff;
    border: none;
    border-bottom: 2px solid #0b6fb2;
    font-family: 'Roboto', sans-serif;
}
.book-appointment select.form-control option {
    background:#111;
}
input[type=submit] {
    display: block;
    color: #fff;
    margin: 0 auto;
    margin-top: 2em;
    padding: 9px 30px;
    font-size: 1.04em;
    cursor: pointer;
    border: 2px solid #00a2ff;
    outline: none;
    background: #36bfff;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
input[type=submit]:hover {
    background: #ff0000;
    border-color: #00ace0;
    color: #fefefe;
	transition: 0.5s all ease;
	margin-top: 14px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.arrows-reserve{
	    position:relative;
		color:#EFA52C;
		font-size:2em;
}
.arrows-reserve:before{
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}
.arrows-reserve:after{
     content: '';
    position: absolute;
  bottom: 43%;
    right: 35.5%;
    background: #fff;
        width: 11%;
    height: 3px;
}
.left-agileits-w3layouts {
    width: 49%;
    float: left;
}
.right-agileinfo {
    width: 49%;
    float: left;
}
.book-appointment p {
    color: #d6eefe;
    font-size: 17px;
    letter-spacing: .5px;
	
}
.same {
    padding: 0px 4px;
}
.gaps {
    padding-left: 10em;
}
p.wickedpicker__title {
    font-family: 'Roboto', sans-serif;
    background: #0b6fb2;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.wickedpicker__close {
    color: #fefefe;
}
/*--//appointment--*/

/*--copyright--*/
.copy.w3ls {
    margin: 2.2em 0em 0;
    text-align: center;
}
.copy p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.copy p a {
    color: #0b6fb2;
    text-decoration: none;
}
.copy p a:hover {
    color: #fff;
}
/*--//copyright--*/
/*--responsive--*/
@media(max-width:1680px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	.gaps {
		padding-left: 12em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 90%;
	}
	.book-appointment select.form-control {
		width: 95.5%;
	}
	h1 {
		font-size: 35px;
	}
	.same {
		padding: 0px 2px;
	}
	.book-appointment p {
		font-size: 16px;
	}
	.book-appointment h2 {
		font-size: 22px;
	}
	input[type=submit] {
		margin-top: 1.5em;
		font-size: 1.02em;
	}
	body {
		min-height: 700px;
	}
}
@media(max-width:1280px){
	.bg-agile {
		width: 69%;
	}
}
@media(max-width:1080px){
	.bg-agile {
		width: 77%;
	}
	.gaps {
		padding-left: 1.5em;
	}
}
@media(max-width:1050px){
	h1 {
		font-size: 31px;
		margin: 1.3em 0;
	}
}
@media(max-width:1024px){
	.book-appointment {
		padding: 40px 30px;
	}
	.book-appointment h2 {
		font-size: 21px;
		margin-bottom: 1.3em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		margin: .3em 0em .7em;
	}
	.book-appointment select.form-control {
		margin: 5px 0px 9.5px;
	}
	h1 {
		margin: 1.2em 0;
	}
	body {
		min-height: 638px;
	}
	.copy.w3ls {
		margin: 2em 0em 0;
	}
}
@media(max-width:991px){
	input[type=submit] {
		font-size: 1.01em;
		padding: 7px 20px;
	}
	.book-appointment select.form-control {
		width: 96.5%;
	}
}
@media(max-width:900px){
	.book-appointment h2 {
		font-size: 18px;
		letter-spacing: 3px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		line-height: 21px;
	}
	textarea {
		height: 21px;
	}
	.book-appointment select.form-control {
		padding: 5.4px 10px;
	}
	.book-appointment p {
		font-size: 14px;
	}
	.book-appointment {
		padding: 32px 30px;
	}
	h1 {
		font-size: 29px;
		letter-spacing: 5px;
	}
	.copy p {
		font-size: 14.4px;
	}
	.copy.w3ls {
		margin: 1.6em 0em 0;
	}
	body {
		min-height: 565px;
	}
}
@media(max-width:800px){
	.bg-agile {
		width: 85%;
	}
	.same {
		padding: 0px 0px;
	}
	input[type=submit] {
		font-size: 0.9em;
		padding: 6px 18px;
	}
}
@media(max-width:768px){
	body {
		min-height: 894.5px;
	}
	h1 {
		margin: 4em 0 2em;
	}
	.copy.w3ls {
		margin: 4em 0em 0;
	}
}
@media(max-width:767px){
	h1 {
		margin: 1.2em 0;
	}
	.copy.w3ls {
		margin: 1.7em 0em 0;
	}
	.book-appointment select.form-control {
		padding: 5.4px 10px;
	}
	body {
		min-height: 565.7px;
	}
}
@media(max-width:736px){
	.book-appointment select.form-control {
		width: 98%;
	}
	
}
@media(max-width:667px){
	.gaps {
		padding-left: 3em;
	}
	.book-appointment p {
		font-size: 13px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		margin: .3em 0em .8em;
	}
	.book-appointment select.form-control {
		margin: 5.2px 0px 11px;
	}
	.copy p {
		font-size: 14px;
	}
	h1 {
		margin: 1.4em 0;
		font-size: 26px;
	}
	body {
		min-height: 564.1px;
	}
}
@media(max-width:640px){
	.book-appointment h2 {
		font-size: 16px;
	}
	input[type=submit] {
		margin-top: 1em;
	}
	h1 {
		margin: 1.7em 0 1em;
		font-size: 24px;
		letter-spacing: 4px;
	}
	.copy.w3ls {
		margin: 1.4em 1.5em 0;
	}
	.copy p {
		line-height: 28px;
	}
	body {
		min-height: 559.5px;
	}
}
@media(max-width:600px){
	.bg-agile {
		width: 88%;
	}
	.book-appointment select.form-control {
		width: 99%;
	}
}
@media(max-width:568px){
	.copy p {
		word-spacing: 0px;
	}
	.copy.w3ls {
		margin: 1.2em 1.5em 0;
	}
	h1 {
   	 margin: 1.7em 0 1.1em;
	}
}
@media(max-width:480px){
	.left-agileits-w3layouts {
		width: 100%;
		float: none;
	}
	.right-agileinfo {
		width: 100%;
		float: none;
	}
	.gaps {
		padding-left: 10;
	}
	.book-appointment {
		padding: 35px 40px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 93.5%;
	}
	h1 {
		margin: 1.6em 0 1.1em;
		font-size: 22px;
		letter-spacing: 3px;
		word-spacing: 5px;
	}
	.bg-agile {
		width: 83%;
	}
	.book-appointment h2 {
		font-size: 15px;
		margin-bottom: 1em;
	}
	.copy p {
		line-height: 27px;
		font-size: 13px;
	}
	body {
		min-height: 809.5px;
	}
}
@media(max-width:414px){
	h1 {
		margin: 2em 0 1.1em;
		font-size: 19px;
		letter-spacing: 2px;
		word-spacing: 3px;
	}
	.book-appointment h2 {
		font-size: 14px;
		margin-bottom: 1.5em;
		letter-spacing: 2.5px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 91.5%;
	}
}
@media(max-width:384px){
	h1 {
		margin: 1.5em 1em 1em;
		line-height: 33px;
		font-size: 19px;
		letter-spacing: 3px;
	}
	.book-appointment {
		padding: 35px 32px;
	}
	.book-appointment select.form-control {
		width: 100%;
	}
	.wickedpicker {
		width: 241px;
	}
	input[type=submit] {
		padding: 5px 14px;
	}
	body {
		min-height: 850px;
	}
}
@media(max-width:375px){
	.bg-agile {
		width: 86%;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 91.8%;
	}
}
@media(max-width:320px){
	.bg-agile {
		width: 91%;
	}
	.book-appointment h2 {
		letter-spacing: 2px;
	}
	h1 {
		margin: 1.3em 1em .5em;
		line-height: 30px;
		font-size: 18px;
		letter-spacing: 2px;
	}
	.book-appointment {
		padding: 35px 25px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 91%;
	}
	body {
		min-height: 855px;
	}
	.copy.w3ls {
		margin: 1.1em 1.5em 0;
	}
}


  



/*--responsive--*/
